php_flag magic_quotas_gpc off
php_value upload_max_filesize 100M
AddDefaultCharset utf-8
DirectoryIndex index.php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !favicon.ico
RewriteRule ^(.*) index.php


